<h1>Homepage</h1>
<h1>{{user.email}}</h1>
{{#each userdate}}
    <section class="chirp-box">
    <a href="/api/post/edit/{{this.id}}"> <h1>{{title}}</h1> </a>
    <p> {{description}}</p>
    <h3>Posted by:{{User.email}}</h3>
</section>
{{/each}}